.active {
    /* background-color: #ffc909; */
    color: #e43f5a;;
}

nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    text-align: right;
}

nav ul .logo{
    float: left;
    margin-left:2rem;
}

nav ul .logo a{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'sebino';
}

nav ul li {
    list-style: none;
    display: inline-flex;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    font-family: 'sebino';
    font-weight: 600;
    margin-right: 2.5rem;
}

nav ul li a:not(.active):hover {
    /* background-color: #202521; */
    background-color: #e43f5a;
    color: white;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 900px) {
    .open {
        background-color: #000;
        margin: 0;
        padding: 0;
    }

    nav .menu {
        margin: .5rem 1rem 0 0;
        display: flex;
        position: absolute;
    }

    nav {
        flex-direction: column;
        position: fixed;
        width: 100%;
    }

    .logo {
        /* margin-top: 1rem;
        text-align: left; */
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(19, 18, 18);
    }
    
    nav ul.open {
        display: flex;
        height: 100vh;
    }

    nav ul li {
        width: 100%;;
    }

    nav ul li a {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 3.5rem;
        margin-left: 2rem;
    }
    .f-link {
        margin-top: 3rem;
    }

}


@font-face {
    font-family: 'Championship';
    src: url('../assets//fonts/Championship.ttf');
}

@font-face {
    font-family: 'NewAthletic';
    src: url('../assets//fonts/NewAthletic.ttf');
}


@font-face {
    font-family: 'sebino';
    src: url('../assets//fonts/sebino-medium.ttf');
}
