.projects-page {
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: 'sebino';
    margin-top: 3rem;
    padding-top: 3rem;
    font-display: swap;
}

.projects-page h1 {
    margin-left: 5rem;
    font-size: 3rem;
    color: #e43f5a;
    ;
}

.prj-inner-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin-top: 2rem;
}

.prj-inner-tiles {
    margin: 0 1rem 5rem 1rem;
    text-align: center;
}

.prj-inner-tiles-img img {
    width: 80%;
    height: 30rem;
}

.prj-inner-tiles-details {
    margin: 0 4rem;
    text-align: center;
}

.prj-inner-tiles-details h2 {
    color: #e43f5a;
}

.prj-inner-tiles-techs {
    text-align: center;
    margin: 0 4rem;
}

.prj-inner-tiles-techs-stacks {
    display: inline-flex;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 2rem;
}

.prj-inner-tiles-techs-stacks img {
    width: 4rem;
    height: 4rem;
}

@media (max-width: 1100px) {
    .prj-inner-grid {
        grid-template-columns: auto;
    }
}

@media (max-width: 650px) {
    .projects-page h1 {
        font-size: 1.5rem;
        text-align: left;
        margin-left: 1rem;
    }
    .prj-inner-tiles-img img {
        width: 100%;
        height: 70%;
    }

    .prj-inner-tiles-details {
        margin: 0;
    }

    .prj-inner-tiles-details {
        text-align: left;
    }

    .prj-inner-tiles-techs {
        margin: 0;
        text-align: left;
    }

    .prj-inner-tiles-techs-stacks {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .prj-inner-tiles-techs-stacks img {
        width: 3rem;
        height: 3rem;
    }
}