body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #171717;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden; */
    /* overflow: scroll ; */
  }